#search-container {
    padding-top: 1%;
    min-height: 300px;
}

#main-search-form{
    margin: auto;
}
#search-content {

}
footer{
    height: 50px;
    bottom: 25px;

}
.center {
    text-align: center;
}

.disclaimer {
    color: #BBBBBB;
    font-weight: normal;
    font-size: small;
}

#ad-top {
    padding-top: 1%;
}
#ad-bottom {
    padding-bottom: 1%;
    margin-bottom: 1%;
}
.clear {
    clear:both;
}
.beta {
    height: 50px;
    width: 50px;
}

.container {
    min-height: 400px;
}

#main-search-btn {

   /*margin: 0 5px 0 105px*/
}

#main-search-rand {

}

#search_buttons {
    text-align: center;
}

#old-search-list .odd {
    background-color: #fafafa;
}

#old-search-list .even {
    background-color: #f5f5f5;
}

#old-search-list > li  {
    padding: 5px;
}